<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Management</title>
</head>
<body>
<h1>Welcome to Event Management</h1>
<nav>
    <ul>
        <li><a th:href="@{/rooms}">All Rooms</a></li>
        <li><a th:href="@{/buildings}">All Buildings</a></li>
        <li><a th:href="@{/events}">All Events</a></li>
        <li><a th:href="@{/rooms/add}">Add Room</a></li>
        <li><a th:href="@{/buildings/add}">Add Building</a></li>
        <li><a th:href="@{/events/add}">Add Event</a></li>
    </ul>
</nav>
</body>
</html>