<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
</script>
<head>
    <title>Event Management</title>
</head>
<body>
<div>test</div>
<div>test</div>
<div>test</div>
<nav>
    <ul>
        <li><a th:href="@{/rooms}">All Rooms</a></li>
        <li><a th:href="@{/buildings}">All Buildings</a></li>
        <li><a th:href="@{/events}">All Events</a></li>
        <li><a th:href="@{/rooms/add}">Add Room</a></li>
        <li><a th:href="@{/buildings/add}">Add Building</a></li>
        <li><a th:href="@{/events/add}">Add Event</a></li>
    </ul>
</nav>
</body>
</html>