<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Rooms List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<section layout:fragment="content" class="container mt-5">

    <h1 class="mb-4">All Rooms</h1>
    <a th:href="@{/rooms/add}" class="btn btn-primary mb-3">Add New Room</a>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Room Number</th>
            <th>Capacity</th>
            <th>Type</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}"></td>
            <td th:text="${room.capacity}"></td>
            <td th:text="${room.type}"></td>

        </tr>
        </tbody>
    </table>
</section>

</body>
</html>